/*RESET*/

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

html{
    font-size: 18px;
}

body {
    font-family:"Poppins",sans-serif;
    line-height: 1.55;
    color: rgba(60, 58, 71, 1);
}
h1{
    font-size: 3.15rem;
    font-weight: 700;
    letter-spacing: -2px;
    color:rgba(60, 58, 71, 1);
}
h2 {
    font-size: 1.75rem;
    font-weight: 300;
    letter-spacing: -1px;
    color: rgba(60, 58, 71, 0.8);
}
h3 {
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -2px;
    margin-bottom: 2rem;
}
h3.large {
    font-size: 3.15rem;
}
.dark h3 {
    color: rgba(255, 255, 255, 1);

}
h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1.33rem;
}

p {
    margin-bottom: 1rem;
}
p.section-intro {
    font-weight: 200;
    letter-spacing: 3px;;
}
.dark p.section-intro
{
    color:rgba(255, 255, 255, 0.5);
}
p.num {
    font-size: 2.4rem;
    font-weight: 200;
    color: rgba(60, 58, 71, 0.5);
}
.dark h3 {
    color:white;
}

a{
    font-weight: 700;
    text-decoration: none;
    color:rgba(159, 118, 87, 1);
}
a:hover
{
    color:black;
}
form input,form textarea,form button {

    font-family: "Poppins",sans-serif;
    font-size: 18px;
    line-height: 1.55rem;
}

/*CONTAINER*/
.container {
    width:85%;
    margin: 0 auto;
}
.container.small{
    width:60%;
    max-width:35rem;
}
/*header*/
#main-header , section{
        padding:13rem 0;
        text-align: center;
}
#main-header h1 {
    margin:7rem 0 1rem 0;
}
#main-header h2 {
    margin-bottom:7rem;
}

.btn { 
    padding: 1.3rem 3.5rem;
    border:1px solid rgba(159, 118, 87, 1);
    font-weight: 900;
}
.btn:hover {
    background-color:rgba(60, 58, 71) ;
    border-color: rgba(60, 58, 71);
    color:white;
}
 
/*chair section*/
 #our-chairs {
    background-color:rgba(239, 240, 234, 1);
 }
 section header {
    margin-bottom: 3.5rem;
 }
h3 + p {
    max-width: 35rem;
    margin:0 auto;

}
.gallery
{
  display:grid;
  grid-template-columns: repeat(3 , 1fr);
  gap:3.5rem;
}
img
{
    max-width:100%;
}
.gallery div
{
    text-align: start;
    margin-bottom: 3.5rem;
}
.gallery img 
{
    margin-bottom: 1.3rem;
}
/*contact*/
.dark {
    background-color: rgba(60, 58, 71, 1);
}
.dark label {
    color: rgba(255, 255, 255,0.8);
}
form label {
    display:block;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: start;
    margin-bottom: .5rem;
}
form div {
    margin-bottom: 1.75rem;

}
.dbtn
{
    width:100%;
    font-weight: 900;
    text-transform:uppercase ;
    padding: 1.3rem 3.5rem;
    background-color: rgba(60, 58, 71, 1);
    border:1px solid rgba(255, 255, 255,0.8);
    color:rgba(255, 255, 255,0.8);
}
.dbtn:hover {
    border-color:rgba(60, 58, 71) ;
    background-color:white ;
    color:rgba(60, 58, 71);
    cursor:pointer;
}
form input,form textarea
{
    width:35rem;
    padding: .5rem;
    color:white;
    background-color:rgba(255, 255, 255, 0.1);
    width:100%;
    resize:none;
}
form input:focus,form textarea
{
    outline: none;
    background-color: rgba(255, 255, 255, .12);
}
p.muted
{
    color:rgba(255, 255, 255,0.5);
    margin-top: 2rem;;
}
.social-icons
{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    list-style-type: none;
    margin-bottom: 7.5em;
    margin-top: 7.5rem;

}
footer{
padding: 5rem 0;

}
footer p {
    text-align: center;
}

@media screen and (max-width:600px) {
    h1,h3.large {
        font-size: 2.3rem;
    }
    .btn
    {
        width:100% 
    }
    h2,h3.large {
        font-size: 2.3rem;
    }
    h3 {
        font-size: 1.8rem;
    }
    .container.small{
        width:85%;
    }
    #main-header,
    section
    {
        padding:6rem 0;
    }
    footer {
        padding:2.5rem 0;
    }
    p.large+social-icons
{
    margin-top: 3.5rem;
}
#main-header h1 {
    margin:3.5rem;
}

}
@media screen and (max-width:800px)
{
    .gallery {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}